<div class="container">
  <h2 class="text-center">MUTANTE</h2>
  <table class="table table-dark text-center">
    <thead>
      <tr>
        <th scope="col" (click)="setOrder('id')">ID</th>
        <th scope="col" (click)="setOrder('nombre')">DNA</th>
        <th scope="col" (click)="setOrder('capital')">CONDICION</th>
        <th scope="col"><i class="fas fa-sort" (click)="sort()"></i></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let mutante of mutante">
        <th>{{mutante.id}}</th>
        <td>{{mutante.dna}}</td>
        <td>{{mutante.condicion}}</td>
        <td></td>
      </tr>
      <tr>
        <td><i class="fas fa-angle-double-left fa-2x" (click)="rewind()"></i></td>
        <td colspan="2">
          <span *ngFor="let p of totalPages; let i = index">
            <a style="cursor: pointer;" (click)="setPage(i)"
            [ngClass]="{'text-primary': i === page }">{{ i+1 }}&nbsp;&nbsp;&nbsp;</a>
          </span>
        </td>
        <td><i class="fas fa-angle-double-right fa-2x" (click)="forward()"></i></td>
      </tr>
    </tbody>
  </table>
</div>